<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itesm.digital.solar">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".DJIDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_solar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_solar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- DJI SDK -->
        <uses-library android:name="com.android.future.usb.accessory" />

        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="5e90b43f17d4c56bd97b319c" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDX2nPn5wpZo2cal_hjMHn3VdfxebA-r6w" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" />
        <!-- DJI SDK -->

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ChooseAddress" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MapsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Register" android:screenOrientation="portrait"/>
        <activity android:name=".CreateProject" android:screenOrientation="portrait"/>
        <activity android:name=".Proyects" android:screenOrientation="portrait"/>
        <activity android:name=".MapsActivityCurrentPlace" android:screenOrientation="portrait"/>
        <activity android:name=".ShowMapByAddress" android:screenOrientation="portrait"/>
        <activity
            android:name=".SubstationActivity"
            android:label="@string/title_activity_substation" android:screenOrientation="portrait"/>
        <activity android:name=".Login" android:screenOrientation="portrait"/>
        <activity android:name=".MainDrone" android:screenOrientation="portrait"/>
        <activity android:name=".SelectStartPointDron" android:screenOrientation="portrait"/>
        <activity android:name=".CreateRoute" android:screenOrientation="portrait"/>
        <activity android:name=".Coordinates" android:screenOrientation="portrait"/>
        <activity android:name=".AreaCoordinates" android:screenOrientation="portrait"/>
        <activity android:name=".SetObstaclesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ResultsWithObstacles"
            android:label="@string/title_activity_results_without_obstacles"
            android:screenOrientation="portrait" />
        <activity android:name=".CentralResults" android:screenOrientation="portrait" />
        <activity
            android:name=".Projects"
            android:label="@string/title_activity_projects"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".SetAltitude" android:screenOrientation="portrait"/>
        <activity
            android:name=".ResultsWithoutObstacles"
            android:label="@string/title_activity_results_without_obstacles"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".HomeResults" android:screenOrientation="portrait"/>
    </application>

</manifest>